<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="seassionFactory">
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.password">sys</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5433/mks</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping class="entity.Feesmaster" />
        <mapping class="entity.Studentmaster" />
        <mapping class="entity.Batchmaster" />
        <mapping class="entity.Usermaster" />
        <mapping class="entity.Staffmaster" />
        <mapping class="entity.Eventmaster" />
        <mapping class="entity.Paramaster" />
        
        
        
        
    </session-factory>


</hibernate-configuration>
